# Construct Covariance Matrix_Standardization

By Vivian Zeng 01/03/2021

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import StandardScaler

In [2]:
df_raw = pd.read_csv("Diamind_XZ_20201215_AllKnown.csv")
df_raw.head()

,Unnamed: 0,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,...,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace,NAs
0,1,Amazonia,0.000000,30.353616,0.008470,0.027368,0.0,0.363968,0.270,0.017143,...,0.1472,0.224,0.1000,NaN,NaN,NaN,55.640,2706.0,NaN,48
1,2,Amazonia,0.014000,32.007960,0.047646,0.027368,0.0,0.394944,0.342,0.028572,...,0.1288,0.392,0.3280,NaN,NaN,NaN,97.424,3251.0,NaN,48
2,3,Amazonia,0.070000,0.689310,1.138210,2.155230,0.0,0.201344,29.868,0.017143,...,0.3200,0.640,0.3200,NaN,NaN,NaN,156.800,1887.0,NaN,48
3,4,Amazonia,0.004667,30.101868,0.008470,0.027368,0.0,0.565312,0.072,0.021429,...,0.1864,0.248,0.1544,NaN,NaN,NaN,71.488,2397.0,NaN,48
4,5,Amazonia,0.028000,32.463504,0.068822,0.027368,0.0,0.325248,0.300,0.017143,...,0.1000,0.256,0.5000,NaN,NaN,NaN,67.304,2898.0,NaN,48

In [3]:
df = df_raw.copy()
print(df.shape)
df.drop(df.columns[df.isna().mean() == 1], axis=1, inplace=True)  # Remove columns that 100% missing 
print(df.shape)

(2144, 43)
(2144, 43)

In [4]:
#df.groupby('craton').describe()

In [5]:
#from sklearn.experimental import enable_iterative_imputer
#from sklearn.impute import IterativeImputer
#imputer = IterativeImputer(sample_posterior=True, min_value=0, random_state=2020)

In [6]:
df1=df.drop(df.columns[-1], axis=1)
df1.head()

,Unnamed: 0,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,1,Amazonia,0.000000,30.353616,0.008470,0.027368,0.0,0.363968,0.270,0.017143,...,0.0760,0.1472,0.224,0.1000,NaN,NaN,NaN,55.640,2706.0,NaN
1,2,Amazonia,0.014000,32.007960,0.047646,0.027368,0.0,0.394944,0.342,0.028572,...,0.1112,0.1288,0.392,0.3280,NaN,NaN,NaN,97.424,3251.0,NaN
2,3,Amazonia,0.070000,0.689310,1.138210,2.155230,0.0,0.201344,29.868,0.017143,...,0.1600,0.3200,0.640,0.3200,NaN,NaN,NaN,156.800,1887.0,NaN
3,4,Amazonia,0.004667,30.101868,0.008470,0.027368,0.0,0.565312,0.072,0.021429,...,0.0688,0.1864,0.248,0.1544,NaN,NaN,NaN,71.488,2397.0,NaN
4,5,Amazonia,0.028000,32.463504,0.068822,0.027368,0.0,0.325248,0.300,0.017143,...,0.0000,0.1000,0.256,0.5000,NaN,NaN,NaN,67.304,2898.0,NaN

## Creat Standardize Matrix

In [21]:
element=df2.drop('craton', axis=1)

In [8]:
X=df2.drop('craton', axis=1).values

In [10]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [72]:
print(scaler.scale_)
print(scaler.mean_)
print(scaler.var_)

[9.20161908e+00 3.22470713e+00 5.64744273e+00 1.04053660e+01
 2.64180141e-02 7.08589227e-01 1.24794881e+01 6.14277778e+00
 1.24356713e-01 2.10381475e+00 2.60874851e+00 9.77706128e-01
 4.44272168e+00 7.28717125e+00 5.59156714e-03 2.81602806e+00
 2.95131986e-01 3.40684287e-01 7.93104310e+02 7.43790506e+01
 1.35427946e+03 7.51943921e+02 5.84278494e+01 1.79543453e+02
 1.04024429e+02 3.98361049e+03 1.55840713e+02 5.24874344e+02
 3.10443936e+02 6.97576277e+01 1.97872894e+01 2.04992754e+01
 2.00092039e+01 1.72180604e+01 7.07670550e+03 2.41716929e+04
 5.88949334e+01 3.70837360e+03 1.80617195e+03 1.41601512e+05]
[1.53213126e+01 5.31070626e-01 3.43506351e+00 3.51361808e+00
 6.35368758e-03 1.58947995e-01 1.67559765e+01 2.54838499e+00
 1.02797216e-02 3.20306942e-01 5.23083338e-01 1.43400764e-01
 1.20322672e+00 6.95770387e+00 3.18687248e-03 2.32276770e-01
 2.60369748e-02 1.64950881e-02 3.12038728e+02 1.15751326e+02
 2.42102745e+03 2.47329260e+02 1.22835222e+01 5.28799765e+01
 3.07874189e+01 9.56307266e+02 4.76254194e+01 4.30391150e+01
 2.30653266e+01 5.84097961e+00 2.11926757e+00 3.56114534e+00
 3.07229830e+00 3.04634267e+00 1.57772769e+03 3.96363343e+04
 4.75759720e+01 4.74877383e+02 8.51687208e+02 2.17387183e+05]
[8.46697937e+01 1.03987361e+01 3.18936093e+01 1.08271642e+02
 6.97911467e-04 5.02098692e-01 1.55737624e+02 3.77337188e+01
 1.54645921e-02 4.42603649e+00 6.80556878e+00 9.55909273e-01
 1.97377759e+01 5.31028649e+01 3.12656231e-05 7.93001402e+00
 8.71028894e-02 1.16065783e-01 6.29014447e+05 5.53224316e+03
 1.83407285e+06 5.65419660e+05 3.41381359e+03 3.22358517e+04
 1.08210819e+04 1.58691525e+07 2.42863279e+04 2.75493077e+05
 9.63754372e+04 4.86612663e+03 3.91536821e+02 4.20220290e+02
 4.00368241e+02 2.96461604e+02 5.00797608e+07 5.84270739e+08
 3.46861318e+03 1.37520348e+07 3.26225711e+06 2.00509882e+10]

In [15]:
df_sd=pd.DataFrame(X)

In [16]:
df_sd.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,-0.152251,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,-0.152251,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,-0.152251,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,-0.152251,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,-0.152251,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [24]:
df_ele = pd.DataFrame(data=X, columns=element.columns)
df_ele.head()

,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,Ba,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,-0.152251,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,-0.152251,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,-0.152251,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,-0.152251,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,-0.152251,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [29]:
df_all = pd.merge(df2.craton,df_ele, left_index=True, right_index=True)

In [30]:
df_all.head()

,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,Amazonia,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,Amazonia,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,Amazonia,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,Amazonia,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,Amazonia,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [31]:
df2.isna().sum().sum()

40261

In [33]:
df_all.isna().sum().sum()

40261

## Get mean based on craton

In [34]:
mean=df_all.groupby('craton').mean()
mean.head()
mean.columns.name = mean.index.name
mean.index.name = None
mean

craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,Ba,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
Alluvial,0.545362,-0.157244,0.298452,0.079487,NaN,-0.023860,0.192959,-0.182250,NaN,NaN,...,-0.099522,-0.161668,-0.147723,-0.166929,NaN,NaN,NaN,NaN,NaN,NaN
Amazonia,-0.586576,0.815415,0.021263,1.024365,1.362796,0.155842,-0.204890,0.075578,-0.082663,-0.152251,...,0.413421,0.427147,0.112041,0.058209,-0.122335,NaN,NaN,-0.061246,2.013624,NaN
Buffalo Head Terrane,0.601096,-0.090709,0.301167,-0.334101,-0.240506,0.012474,-0.208821,0.498543,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Congo,1.273340,-0.121397,0.126241,-0.320732,0.455687,-0.119529,-0.594885,0.532984,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,1.815330,-1.463279,NaN,NaN,-0.459936,NaN
East European,-0.639081,-0.134948,-0.423580,1.803952,-0.240506,-0.016670,0.161226,-0.414859,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gawler,-1.109219,-0.159309,-0.516947,-0.288474,-0.240506,1.308924,1.849927,-0.362559,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guyana,-0.088771,-0.098082,0.181803,0.182186,-0.240506,0.034199,-0.003142,0.136068,-0.082663,-0.152251,...,-0.098185,NaN,NaN,-0.138973,-0.222937,-1.639776,-0.790660,-0.127941,-0.471537,-1.535195
Kaapvaal,0.021812,-0.126884,0.404501,-0.129290,-0.017429,0.023813,-0.527866,-0.028083,-0.082663,-0.145411,...,-0.091160,-0.090462,0.018145,0.031071,-0.090563,NaN,-0.788072,-0.127761,-0.471537,-1.535195
Kalahari,0.455001,-0.157254,0.966607,0.293570,NaN,0.212834,-0.236867,-0.112523,NaN,NaN,...,-0.093457,-0.155183,-0.141425,-0.153260,-0.162502,NaN,NaN,NaN,NaN,NaN
Pohorje,0.916381,-0.127512,-0.177040,-0.337674,-0.240506,-0.224316,-1.208060,0.201441,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Siberia,0.331761,-0.117959,-0.339629,-0.302256,-0.240506,-0.075970,0.732189,-0.073407,-0.082663,-0.134698,...,-0.072710,-0.078299,-0.091926,-0.100009,-0.174646,0.494473,0.143580,-0.092743,-0.065561,0.629595
Slave,-0.330753,-0.000878,0.156263,-0.100860,-0.240506,0.043644,-0.611159,0.333892,0.463832,0.807946,...,-0.028064,-0.020410,-0.026807,-0.006630,-0.177132,-1.636527,-0.746404,0.686585,-0.458283,-1.534945
Superior,0.345743,-0.156332,-0.004948,0.270403,-0.083142,-0.022897,0.320205,-0.160916,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tarim,1.010206,-0.164688,-0.014555,-0.337674,-0.240506,-0.224316,-1.258543,-0.298576,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Africa,-0.583795,-0.041080,-0.090594,-0.335589,-0.240506,-0.154885,-0.606412,-0.328757,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,-0.198616,NaN,-0.775689,-0.095837,-0.209216,-1.535198
Wyoming,0.224980,-0.149127,-0.094360,0.319440,-0.240506,-0.040713,0.367856,-0.170332,-0.082663,-0.152251,...,-0.089414,-0.163476,-0.149546,-0.161246,-0.173065,NaN,NaN,NaN,NaN,NaN
Zimbabwe,-0.646706,0.178123,0.063139,1.970334,0.558922,-0.164988,-0.274660,-0.294423,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
n,p=df_all.shape
df_all.shape[0]

2144

In [51]:
df1.isna().sum().sum()

40261

In [52]:
df2.isna().sum().sum()

40261

## Fill mean based on craton to NA in Standardized Matrix

In [61]:
df3=df_all.copy()
print(df3.shape[0])
df3.head()

2144

,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,Amazonia,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,Amazonia,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,Amazonia,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,Amazonia,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,Amazonia,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [62]:
df3.iloc[1,36]

nan

In [55]:
#cpos=[36]
#c =list(df3.columns[cpos])
#c

In [56]:
#rpos = [15]
#r=list(df3.iloc[rpos, 0])
#r

In [57]:
#mean.loc[r, c].iloc[0,0]

In [58]:
#np.arange(1, df3.shape[0], 1)

In [59]:
for i in np.arange(1, df3.shape[0]):
    for j in np.arange(1, df3.shape[1]):
        if math.isnan(df3.iloc[i, j]):
            cpos = [j]
            c =list(df3.columns[cpos])
            rpos = [i]
            r=list(df3.iloc[rpos,0])
            df3.iloc[i, j]=mean.loc[r, c].iloc[0,0]

In [73]:
df3.isna().sum().sum()

40261

In [74]:
mean2=df3.groupby('craton').mean()
mean2.head()
mean2.columns.name = mean2.index.name
mean2.index.name = None
mean2

craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,Ba,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
Alluvial,0.545362,-0.157244,0.298452,0.079487,NaN,-0.023860,0.192959,-0.182250,NaN,NaN,...,-0.099522,-0.161668,-0.147723,-0.166929,NaN,NaN,NaN,NaN,NaN,NaN
Amazonia,-0.586576,0.815415,0.021263,1.024365,1.362796,0.155842,-0.204890,0.075578,-0.082663,-0.152251,...,0.413421,0.427147,0.112041,0.058209,-0.122335,NaN,NaN,-0.061246,2.013624,NaN
Buffalo Head Terrane,0.601096,-0.090709,0.301167,-0.334101,-0.240506,0.012474,-0.208821,0.498543,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Congo,1.273340,-0.121397,0.126241,-0.320732,0.455687,-0.119529,-0.594885,0.532984,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,1.815330,-1.463279,NaN,NaN,-0.459936,NaN
East European,-0.639081,-0.134948,-0.423580,1.803952,-0.240506,-0.016670,0.161226,-0.414859,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gawler,-1.109219,-0.159309,-0.516947,-0.288474,-0.240506,1.308924,1.849927,-0.362559,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guyana,-0.088771,-0.098082,0.181803,0.182186,-0.240506,0.034199,-0.003142,0.136068,-0.082663,-0.152251,...,-0.098185,NaN,NaN,-0.138973,-0.222937,-1.639776,-0.790660,-0.127941,-0.471537,-1.535195
Kaapvaal,0.021812,-0.126884,0.404501,-0.129290,-0.017429,0.023813,-0.527866,-0.028083,-0.082663,-0.145411,...,-0.091160,-0.090462,0.018145,0.031071,-0.090563,NaN,-0.788072,-0.127761,-0.471537,-1.535195
Kalahari,0.455001,-0.157254,0.966607,0.293570,NaN,0.212834,-0.236867,-0.112523,NaN,NaN,...,-0.093457,-0.155183,-0.141425,-0.153260,-0.162502,NaN,NaN,NaN,NaN,NaN
Pohorje,0.916381,-0.127512,-0.177040,-0.337674,-0.240506,-0.224316,-1.208060,0.201441,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Siberia,0.331761,-0.117959,-0.339629,-0.302256,-0.240506,-0.075970,0.732189,-0.073407,-0.082663,-0.134698,...,-0.072710,-0.078299,-0.091926,-0.100009,-0.174646,0.494473,0.143580,-0.092743,-0.065561,0.629595
Slave,-0.330753,-0.000878,0.156263,-0.100860,-0.240506,0.043644,-0.611159,0.333892,0.463832,0.807946,...,-0.028064,-0.020410,-0.026807,-0.006630,-0.177132,-1.636527,-0.746404,0.686585,-0.458283,-1.534945
Superior,0.345743,-0.156332,-0.004948,0.270403,-0.083142,-0.022897,0.320205,-0.160916,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tarim,1.010206,-0.164688,-0.014555,-0.337674,-0.240506,-0.224316,-1.258543,-0.298576,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Africa,-0.583795,-0.041080,-0.090594,-0.335589,-0.240506,-0.154885,-0.606412,-0.328757,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,-0.198616,NaN,-0.775689,-0.095837,-0.209216,-1.535198
Wyoming,0.224980,-0.149127,-0.094360,0.319440,-0.240506,-0.040713,0.367856,-0.170332,-0.082663,-0.152251,...,-0.089414,-0.163476,-0.149546,-0.161246,-0.173065,NaN,NaN,NaN,NaN,NaN
Zimbabwe,-0.646706,0.178123,0.063139,1.970334,0.558922,-0.164988,-0.274660,-0.294423,-0.082663,-0.152251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
mean.isna().sum().sum()

233

In [77]:
mean2.isna().sum().sum()

233

In [78]:
df3.head()

,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,Amazonia,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,Amazonia,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,Amazonia,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,Amazonia,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,Amazonia,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [79]:
matrix_withNA=df3.drop(['craton'], axis=1)

In [80]:
matrix_withNA.head()

,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,Ba,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,-0.152251,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,-0.152251,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,-0.152251,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,-0.152251,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,-0.152251,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [81]:
covMatrix_withNA = np.cov(matrix_withNA,bias=True)
print (covMatrix_withNA)

[[nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]

In [82]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer(sample_posterior=True, min_value=0, random_state=2021)

In [83]:
matrix_withoutNA = pd.DataFrame(imputer.fit_transform(matrix_withNA))

In [84]:
matrix_withoutNA.isna().sum().sum()

0

In [85]:
covMatrix_withoutNA = np.cov(matrix_withoutNA,bias=True)
print (covMatrix_withoutNA)

[[ 3.03054168  3.01855573  0.17979892 ...  0.95435308  0.36727025
   0.14610904]
 [ 3.01855573  3.08146031  0.34246919 ...  0.84054553  0.36582636
   0.16483017]
 [ 0.17979892  0.34246919  3.44650198 ...  0.01617321 -0.46885849
  -0.4513922 ]
 ...
 [ 0.95435308  0.84054553  0.01617321 ...  6.93940602  0.33076986
   0.57033594]
 [ 0.36727025  0.36582636 -0.46885849 ...  0.33076986  0.35901748
   0.27723782]
 [ 0.14610904  0.16483017 -0.4513922  ...  0.57033594  0.27723782
   0.56037897]]

In [86]:
covMatrix_withoutNA.std()

0.5029545485077547

In [87]:
covMatrix_withoutNA.mean()

0.05865550244505785

In [92]:
df4=df_all.copy()
print(df4.shape[0])
df4.head()

2144

,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,Amazonia,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,Amazonia,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,Amazonia,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,Amazonia,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,Amazonia,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [93]:
df4.mean()

Si          7.880451e-17
Ti         -1.065180e-15
Al          9.092828e-17
Cr          3.590544e-16
V           2.114697e-15
Mn         -2.929333e-16
Mg          1.045193e-15
Ca         -5.285627e-16
Sr         -1.922847e-15
Ba          2.365946e-15
Na         -1.795800e-16
P           1.099295e-15
K          -4.128501e-16
Fe         -1.614258e-16
Co         -4.811091e-15
Ni         -8.574311e-18
S           2.467836e-16
Zn         -2.205830e-16
Cr_trace   -7.366060e-17
Co_trace    2.077630e-16
Ni_trace   -9.710405e-18
Sr_trace    2.014010e-18
Y_trace    -2.185201e-17
Zr_trace    2.972728e-17
Nb_trace   -2.046871e-17
Ba_trace    2.018587e-18
La_trace    4.944365e-17
Ce_trace    1.535330e-17
Nd_trace    2.446662e-18
Sm_trace    3.204434e-17
Eu_trace   -2.905408e-17
Dy_trace   -1.959217e-18
Er_trace    3.755166e-18
Yb_trace   -3.235413e-17
Ti_trace   -2.567528e-16
Fe_trace    2.740863e-16
Al_trace   -1.573272e-16
Ca_trace   -6.272532e-17
Mn_trace   -2.132281e-16
Mg_trace   -6.009351e-16
dtype: float64

In [94]:
df4_fill_with_mean=df4.fillna(df4.mean())

In [95]:
df4.isna().sum().sum()

40261

In [96]:
df4_fill_with_mean.isna().sum().sum()

0

In [98]:
df4_fill_with_mean.head()

,craton,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,Amazonia,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,...,-0.103262,-0.166540,-0.142349,-0.171119,-2.567528e-16,2.740863e-16,-1.573272e-16,-0.113052,1.026654,-6.009351e-16
1,Amazonia,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,...,-0.101483,-0.167437,-0.133953,-0.157877,-2.567528e-16,2.740863e-16,-1.573272e-16,-0.101784,1.328397,-6.009351e-16
2,Amazonia,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,...,-0.099016,-0.158110,-0.121559,-0.158342,-2.567528e-16,2.740863e-16,-1.573272e-16,-0.085773,0.573208,-6.009351e-16
3,Amazonia,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,...,-0.103625,-0.164628,-0.141150,-0.167960,-2.567528e-16,2.740863e-16,-1.573272e-16,-0.108778,0.855573,-6.009351e-16
4,Amazonia,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,...,-0.107102,-0.168842,-0.140750,-0.147888,-2.567528e-16,2.740863e-16,-1.573272e-16,-0.109906,1.132956,-6.009351e-16

In [100]:
matrix_withNA_df4=df4_fill_with_mean.drop(['craton'], axis=1)

In [101]:
covMatrix_withoutNA_df4 = np.cov(matrix_withNA_df4,bias=True)
print (covMatrix_withoutNA_df4)

[[ 3.01634368  3.01309457  0.23890352 ...  0.07164244  0.09712357
   0.06981624]
 [ 3.01309457  3.05613384  0.1958479  ...  0.07669541  0.10259734
   0.07917162]
 [ 0.23890352  0.1958479   1.71741147 ... -0.31853507 -0.26375268
  -0.27561272]
 ...
 [ 0.07164244  0.07669541 -0.31853507 ...  2.45803918  0.25909554
   0.32331514]
 [ 0.09712357  0.10259734 -0.26375268 ...  0.25909554  0.18362849
   0.17812202]
 [ 0.06981624  0.07917162 -0.27561272 ...  0.32331514  0.17812202
   0.28020641]]

In [102]:
covMatrix_withoutNA_df4.std()

0.12133536213176702

In [103]:
covMatrix_withoutNA_df4.mean()

2.550495643004439e-20

In [115]:
pd.DataFrame(covMatrix_withoutNA_df4)

,0,1,2,3,4,5,6,7,8,9,...,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143
0,3.016344,3.013095,0.238904,3.094798,3.006817,0.300959,3.309177,3.148101,3.011857,0.545611,...,1.457638,-0.066442,0.156527,0.052319,0.157950,0.172051,0.158052,0.071642,0.097124,0.069816
1,3.013095,3.056134,0.195848,3.031598,3.058514,0.262423,3.554647,3.287695,3.084072,0.470404,...,1.534865,-0.066466,0.170374,0.059004,0.171714,0.179843,0.171853,0.076695,0.102597,0.079172
2,0.238904,0.195848,1.717411,0.706303,0.143040,0.426523,0.314098,0.296765,0.248731,0.924873,...,0.026997,-0.073709,-0.201347,0.033354,-0.199386,-0.212159,-0.199088,-0.318535,-0.263753,-0.275613
3,3.094798,3.031598,0.706303,3.767729,3.004245,0.292794,3.157326,3.038680,2.968953,0.546792,...,1.420900,-0.055329,0.170954,0.110314,0.173322,0.215262,0.173554,-0.018215,0.096914,0.052443
4,3.006817,3.058514,0.143040,3.004245,3.066067,0.241872,3.463489,3.264652,3.092525,0.428957,...,1.558726,-0.066245,0.177324,0.060458,0.178519,0.186212,0.178655,0.087520,0.110721,0.086443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2139,0.172051,0.179843,-0.212159,0.215262,0.186212,-0.029208,0.179457,0.151057,0.158814,-0.129269,...,0.111668,0.023340,0.275026,0.082351,0.274030,0.288433,0.274436,0.248867,0.150699,0.147521
2140,0.158052,0.171853,-0.199088,0.173554,0.178655,-0.029490,0.196705,0.158239,0.159252,-0.122114,...,0.114653,0.021952,0.267788,0.075072,0.266682,0.274436,0.267108,0.199593,0.140368,0.137796
2141,0.071642,0.076695,-0.318535,-0.018215,0.087520,0.000919,-0.262453,-0.052220,0.055273,-0.109482,...,-0.009725,0.004447,0.198929,0.023771,0.199236,0.248867,0.199593,2.458039,0.259096,0.323315
2142,0.097124,0.102597,-0.263753,0.096914,0.110721,-0.000893,-0.093391,0.006458,0.077010,-0.107391,...,0.009450,-0.004321,0.140880,-0.022285,0.140324,0.150699,0.140368,0.259096,0.183628,0.178122
2143,0.069816,0.079172,-0.275613,0.052443,0.086443,-0.000154,0.037472,0.048791,0.057410,-0.114035,...,0.001630,-0.000745,0.138878,-0.020922,0.137959,0.147521,0.137796,0.323315,0.178122,0.280206

In [110]:
pd.DataFrame(covMatrix_withoutNA_df4).shape

(2144, 2144)

In [114]:
df_ele.head()

,Si,Ti,Al,Cr,V,Mn,Mg,Ca,Sr,Ba,...,Eu_trace,Dy_trace,Er_trace,Yb_trace,Ti_trace,Fe_trace,Al_trace,Ca_trace,Mn_trace,Mg_trace
0,-1.665067,9.248141,-0.606751,-0.335043,-0.240506,0.289335,-1.321046,-0.412068,-0.082663,-0.152251,...,-0.103262,-0.166540,-0.142349,-0.171119,NaN,NaN,NaN,-0.113052,1.026654,NaN
1,-1.663546,9.761162,-0.599814,-0.335043,-0.240506,0.333051,-1.315276,-0.410207,-0.082663,-0.152251,...,-0.101483,-0.167437,-0.133953,-0.157877,NaN,NaN,NaN,-0.101784,1.328397,NaN
2,-1.657460,0.049071,-0.406707,-0.130547,-0.240506,0.059832,1.050686,-0.412068,-0.082663,-0.152251,...,-0.099016,-0.158110,-0.121559,-0.158342,NaN,NaN,NaN,-0.085773,0.573208,NaN
3,-1.664560,9.170072,-0.606751,-0.335043,-0.240506,0.573483,-1.336912,-0.411370,-0.082663,-0.152251,...,-0.103625,-0.164628,-0.141150,-0.167960,NaN,NaN,NaN,-0.108778,0.855573,NaN
4,-1.662024,9.902429,-0.596065,-0.335043,-0.240506,0.234692,-1.318642,-0.412068,-0.082663,-0.152251,...,-0.107102,-0.168842,-0.140750,-0.147888,NaN,NaN,NaN,-0.109906,1.132956,NaN

In [112]:
df_ele.shape

(2144, 40)

In [117]:
df_ele_mean=df_ele.mean().tolist()

In [127]:
df_ele_mean=np.mean(df_ele, axis=1)

In [128]:
df_ele_mean

0       0.188757
1       0.175327
2       0.312241
3       0.460550
4       0.150115
          ...
2139   -0.527515
2140   -0.464283
2141    0.499459
2142   -0.485347
2143   -0.095680
Length: 2144, dtype: float64

In [ ]:
#x = np.random.multivariate_normal(df_ele_mean, covMatrix_withoutNA_df4, [2144, 2144])

In [ ]:
#matrix=pd.DataFrame(x)

In [ ]:
#matrix.head()